/* CSS GUIDE
================================================================
 *
 * PROJECT:	babygo;
 *
----------------------------------------------------------------
 *
 * 1. CSS RESET;
 * 2. 全局公用CSS;
 * 3. 模块;
 * 4. 结构
 *
================================================================*/





/* 1 CSS RESET
================================================================*/

html{}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,header,footer,nav,article{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
img{border:0; max-width:100%; vertical-align:top}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body{ font:16px/1.5 Helvetica,Arial,STHeiti,Droid Sans Fallback,sans-serif; -webkit-user-select:none; -webkit-backface-visibility:hidden;-webkit-overflow-scrolling: touch;}
input,textarea,select,button{ outline: none; resize:none; font:16px/1.5 Helvetica,Arial,STHeiti,Droid Sans Fallback,sans-serif;}
select{font-size:16px}
button{line-height:1.5;white-space:nowrap;vertical-align:middle;cursor:pointer}
strong{font-weight:800}
a{ text-decoration: none; outline: none; cursor: pointer;}
a:link{ -webkit-tap-highlight-color:transparent;}
a:hover{ text-decoration: none;}
a:active .ico30{ box-shadow:rgba(0,0,0,.2) 0 0 0 15px; background-color:rgba(0,0,0,.2); border-radius:8px}
.ui-page{-webkit-backface-visibility:hidden;}
.ui-body-c, .ui-overlay-c{ background:none; box-shadow:none; border:none;}




/* 2 全局公用CSS
================================================================*/

/* 布局
----------------------------------------------------------------*/

/* 浮动 */
.clear:after{content:'.';clear:both;display:block;height:0;visibility:hidden;line-height:0}

.left{ float:left}
.right{ float:right}

/* DISPLAY */
.dis_b{ display:block}
.dis_in{ display:inline}
.dis_inb{ display:inline-block}
.vis_on{ visibility: visible;}
.vis_off{ visibility: hidden;}

/* 文字
----------------------------------------------------------------*/

/* 字号 */
.tx_-2{ font-size:.75em}
.tx_-1{ font-size:.875em}
.tx_0{ font-size:1em}
.tx_1{ font-size:1.125em}
.tx_2{ font-size:1.25em}

/* 字重 */
.tx_b{ font-weight:800}
.tx_n{ font-weight:normal}

/* 字体样式 */
.tx_udl{ text-decoration:underline}
.tx_del{ text-decoration:line-through}

/* 对齐 */
.tx_l{ text-align:left}
.tx_c{ text-align:center}
.tx_r{ text-align:right}

/* 折行 */
.tx_br{ word-wrap:break-word; word-break:break-all}
.tx_unbr{ width:100%; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}

/* 对齐 */
.vt_t{ vertical-align: top;}
.vt_m{ vertical-align: middle;}
.vt_b{ vertical-align: bottom;}





/* 3 全局颜色
================================================================*/

/* color
----------------------------------------------------------------*/

.c_tx0,body,input,textarea{ color:#595959}/* 默认文字颜色 */
.c_tx1{ color:#999}/* 弱化文字色 */
.c_tx2,a,a:hover,a:active,a:visited{ color:#018ec9}/* 默认链接色 */
.c_tx3{ color:#fff}/* 标白 */
.c_tx4{ color:#ba5d12}/* 标红 */

/* background
----------------------------------------------------------------*/

body,
.bg0{ background-color:#fff}/* body背景色 */
.bg1{ background-color:#179fdd}/* 顶部导航背景色 */
.bg2{ background-color:#d6e7ef}/* 底部导航背景色 */
.bg3{ background-color:#e5eef3}/* 内容区块背景色 */
.bg4{ background-color:#d6e7ef}/* IM底部背景色 */

/* border
----------------------------------------------------------------*/

.bor0{}





/* 3 模块
================================================================*/




/* 4 结构
================================================================*/
